<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>

<div class="flex flex-auto justify-center w-full sm:p-4 md:p-8 bg-gray-200 dark:bg-card">

    <!-- Navigation -->
    <ng-container *ngIf="isScreenSmall">
        <fuse-vertical-navigation
                class="dark bg-gray-900 print:hidden"
                [mode]="'over'"
                [name]="'mainNavigation'"
                [navigation]="navigation.default"
                [opened]="false">
            <!-- Navigation header hook -->
            <ng-container fuseVerticalNavigationContentHeader>
                <!-- Logo -->
                <div class="flex items-center h-20 pt-6 px-8">
                    <img
                            class="w-24"
                            src="assets/images/logo/logo-text-on-dark.svg"
                            alt="Logo image">
                </div>
            </ng-container>
        </fuse-vertical-navigation>
    </ng-container>

    <!-- Wrapper -->
    <!--<div class="flex flex-col flex-auto w-full min-w-0">-->
    <div class="flex flex-col items-center flex-auto min-w-0 max-w-360 sm:rounded-xl shadow-2xl dark:shadow-none overflow-hidden">

        <!-- Header -->
        <div class="relative flex justify-between flex-0 items-center w-full h-16 sm:h-20 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden">
            <ng-container *ngIf="!isScreenSmall">
                <!--             Logo-->
                <div class="flex items-center mx-2 lg:mr-8">
                    <a [routerLink]="['/home']" class="flex">
                        <div class="hidden lg:flex">
                            <img
                                    class="dark:hidden w-30"
                                    src="assets/images/logo/logo-text.svg">
                            <img
                                    class="hidden dark:flex w-30"
                                    src="assets/images/logo/logo-text-on-dark.svg">
                        </div>
                        <img
                                class="flex lg:hidden w-8"
                                src="assets/images/logo/logo.svg">
                    </a>
                </div>
                <!--             Horizontal navigation-->
                <fuse-horizontal-navigation
                        class="mr-2"
                        [name]="'mainNavigation'"
                        [navigation]="navigation.horizontal">
                </fuse-horizontal-navigation>
            </ng-container>
            <!-- Navigation toggle button -->
            <ng-container *ngIf="isScreenSmall">
                <button
                        mat-icon-button
                        (click)="toggleNavigation('mainNavigation')">
                    <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
                </button>
            </ng-container>
            <!-- Components -->
            <div *ngIf="isUserAuthenticated" class="flex items-center pl-2 space-x-0.5 sm:space-x-2">
                <languages></languages>
                <user></user>
            </div>
            <div *ngIf="!isUserAuthenticated" class="flex items-center pl-2">
                <button mat-flat-button [color]="'primary'" (click)="openDialog()" class="ml-2 mr-1">Sign
                    In
                </button>
<!--                <button-->
<!--                        mat-flat-button-->
<!--                        [color]="'primary'">-->
<!--                    <mat-icon [svgIcon]="'heroicons_outline:cursor-click'"></mat-icon>-->
<!--                    <span class="ml-2 mr-1">Join For Free</span>-->
<!--                </button>-->
            </div>
            <mat-slide-toggle (change)="setScheme($event)"></mat-slide-toggle>
        </div>
            <!-- Content -->
        <div class="flex flex-col flex-auto w-full">
            <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
                 Otherwise, layout changes won't be registered and the view won't be updated! -->
            <router-outlet *ngIf="true"></router-outlet>
        </div>

        <!-- Footer -->
        <div class="relative flex flex-0 items-center w-full h-14 sm:h-20 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden">
            <span class="font-medium text-secondary">FizMath &copy; {{currentYear}}</span>
        </div>

    </div>

</div>
